<html>
<head>
  <title>Blogs </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <!----------------------------Navbar Css Files---------------------->
  <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />

<style type="text/css">



.container-fluid {
    width: 80%;
    border: 2px solid #d2d2d2;
    margin-top: 50px;
}

.col-12.col-sm-12.col-md-5, .col-12.col-sm-12.col-md-7 {
    padding-left: 0px;
    padding-right: 0px;
}


.image-wrapper img {
    width: 100%;
}

#lt-blog p {
    padding-top: 10px;
}	
	

button#read-btn:hover {
    background: #000;
    color: #fff;
}
button#read-btn {
    background: transparent;
    font-size: 20px;
    padding: 8px 40px;
    border: 2px solid black;
    color: #000;
}

div#lt-blog p span {
    color: #a9a9a9;
}




</style>
<!------Boot Strap Files-->


<script src="/scripts/spanish-to-english-translate.js"></script>
</head>


<body>

    <% blogs.forEach( blog => { %>
<div class="container-fluid">
      <div class="row" style= "padding: 20px 0px; padding-bottom:10px;">
        <div class="col-12 col-sm-12 col-md-5">
          <div class="container">
            <a href="/blogs/posts/5eb97e630568a927d4f74c8c" class="article-links"><div class="promo" style="--overlay-color: hotpink">
                <div class="image-wrapper">
              
                    
                  <% if(blog.image.localeCompare("")==1){%>
                    
                    <img src="/uploads/<%= blog.thumbnail %>" />
                    <%} else {%>
                      
                      
                      <img src="<%= blog.thumbnail %>"/>`
                      <%}%>
                  
                
                
                </div>
                <h2 class="title" data-cta="Explora nuestro mundo →"></h2>
            </div></a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7" style="padding-top: 20px;"> 
          <div class="container">
          
            <div>
              <p><span style="padding:5px; color:black; border:1px black solid"><%=blog.time%></span></p>
             <h1 style="padding:5px;color:black;"><%=blog.title%></h1>
             <p>Tags:<%=blog.tag%></p>
             
             <p style="color:black; word-wrap:break-word;" class="target"><%=blog.content%></p>
            <a href="/blogs/posts/<%= blog._id %>"> 
             <button id="read-btn" class="read-more-btn" >Lee Mas</button>
            </a></div><a href="/blogs/posts/<%= blog._id %>">
          </a>
        </div>
        </div>
      </div>
    </div>
    <%})%>


    


    
	<div class="container grid-layout">
    <h1 style="padding-top:70px; margin-bottom:20px; font-weight: bold;" class="text-center display-4">Latest Posts</h1>
    <%    latestBlogs.forEach(data=>{ if(data.index===1){ %>
        <div class="row d-flex justify-content-between">
            
          <%}if(data.check===0){%>
            <div id="lt-blog" class="col-12 col-md-4 my-2">
              <a href="<%=data.url%>">
            <img src="/uploads/<%= data.thumbnail %>" alt="image" style="width:100%; height:250px;">
          </a>
            <p style="color:grey;font-weight: bolder;"><%=data.title%><br><span>Category-<%=data.tag%></span></p>
          
        </div>
      
        <%}else{%>
        <div id="lt-blog" class="col-12 col-md-4 my-2">
              <a href="<%=data.url%>">
            <img src="<%=data.thumbnail%>" alt="image" style="width:100%; height:250px;">
          </a>
            <p style="color:grey;font-weight: bolder;"><%=data.title%><br><span>Category-<%=data.tag%></span></p>
          
        </div>
      
    
      <%}if(data.index===3){%>
      </div> 
  <%}})%>
    
        
            
        </div> 
    
  
  
  
  
  
  
  
  
  
  

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<script>
  $(".target").each(function(){
    let text = ( $(this).text());
    text = text.substring(0,200);
    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>