<html>
<head>
  <title>Blogs </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  
</head>
<body>
<div class="toTarget" class="container">
  <% blogs.forEach( blog => { %>
  <a href="/blogs/posts/<%= blog._id %>">
     <div class="post">
      <h1 class="post-title" ><%= blog.title %></h1>
      <p class="post-image" ><img src="/uploads/<%= blog.image %>" alt="" width="626" height="335"}></p>
      <p class="post-time" ><small>Posted in: <%= blog.time %></small></p>
      <p class="post-prev target"  ><%= blog.content  %>...</p>
     </div>
   </a>
  <% }); %>
</div>
<script>
  $(".target").each(function(){
    let text = ( $(this).text());
    text = text.substring(0,100);
    let html = $.parseHTML(text);
    $(this).empty();
    $(this).append(html);
  })
</script>

</body>
</html>