<html>
  <head>
    <title><%=blog.title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css" />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
   
   <script>
      $(document).ready(function(){
    let text = ( $("#target").text());
    let html = $.parseHTML(text);
    $("#target").empty();
    $("#target").append(html);
  
});
    </script>
    
  </head>
<body>
<div class="container">
  <!--  Blog Title-->
    <h1 class="article-title" ><%= blog.title %></h1>
    <!--   For Uploaded DAte-->
    <h4 class="article-date"><%= blog.time %></h4>
    <!--  Blog Creator-->
    <h5 class="author" > by <%= blog.creator %></h5>
    <!---- Blog Image-->
    <p class="article-image" ><img style="width: 80%; height:auto;" src="/uploads/<%= blog.image%>" alt="blog-image"></p>
    <!---  Blog Content -->
    <div class="article-content-wrapper">
      <p class="article-content" id="target" ><%= blog.content %></p>

    </div>
  </div>
  
  
</body>
</html>