<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Edit Interview</title>
    <script src="//cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
  </head>
  <body>
    
      <div style="margin-top: 50px; margin-bottom: 50px;">
    <h1 style="color:skyblue;" class="text-center">ADD INFROMATION FOR INTERVIEW</h1>
</div>
      
      <div class="container">
    <form action="/interviews/posts/<%=interview._id%>?_method=PUT" method="POST">
        <div class="input-group input-group-lg">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
              
              name="interview[title]"
              value="<%=interview.title%>"
              placeholder="Enter Your Title">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="interview[image]"  
            value="<%=interview.image%>"
                placeholder="Enter Image URL">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="interview[thumbnail]"  
            value="<%=interview.thumbnail%>"
                placeholder="Enter Thumbnail URL">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="interview[interviewee]"  
            value="<%=interview.interviewee%>"
                placeholder="Enter Interviewee Name">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="interview[interviewer]"  
            value="<%=interview.interviewer%>"
                placeholder="Enter Interviewer Name">
          </div>
          <div class="input-group input-group-lg mt-3">
            
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
            name="interview[quote]"  
            value="<%=interview.quote%>"
                placeholder="Enter Quote If any">
          </div>
          <div class="form-group mt-5">
            <label for="editor">Enter Your Content Here:</label>
            <textarea 
            name="interview[content]"
            class="form-control"  rows="9"
            value="<%=interview.content%>"
            id='editor'  type="text"  ></textarea>
            
          </div>
          <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        </div>
        <script>
            CKEDITOR.replace('editor');
            </script>

    </body>
</html>
